html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
    
}

.image-container {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    
}

.image {
    width: 500px;
    height: 700px;
}

.title {
    font-size: 65px;
    color: darkcyan;
    
}

.under-title {
    font-size: 45px;
    color: darkcyan;
    margin-bottom: 70px;
}